img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
section {
	clear: both;
}
.row-fluid {
	margin-bottom: 20px;
}
.pagination {
	margin-top: 5px !important;
	text-align: center;
}
#after .content {
	margin: 0 auto;
}

.container {
	max-width: 960px !important;
}

header .headline {
	background: url('http://www.bentino.me/js-paginator-headline.jpg') center center/cover;
	display: block;
	width: 100%;
	height: 250px;
}

header {
	background-color: #323232;
	display: block;
	width: 100%;
}

#header {
	margin-bottom: 0;
}

#header i {
	vertical-align: middle;
}